$color-master: #3F5D45;
$color-sec: #EAF0ED;
$color-thir: rgba(255, 255, 255, 0.5);
$color-four: #F0F0F0;
$color-five: rgba(255, 255, 255, 0);
$color-six: #FFE180;

$font-master: 32px;
$font-sec: 16px;
$font-thir: 20px;
$font-four: 12px;

